@{
    ViewBag.Title = "Pagina Principal";
}

<style>
    #color {
        color: #000000;
    }

    #border {
        border-radius: 50px;
        background-color: #8db0ac;
    }
</style>

<body class="bg-primary" id="color">
    <br />
    <br />
    <br />
    <div class="jumbotron" id="border">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Imagenes/web_hi_res_512.png" alt="" width="150" height="150" class="d-inline-block align-text-top">
            </div>
            <div class="col-md-5">
                <h2>Inicia a vender con EstanzuelaEats</h2>
                <h4>Una aplicacion pensada para ti y tu seguridad.</h4>
                <center>
                    <div class="row">
                        @Html.ActionLink("Tecnologia", "About", new { }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Informacion", "Contact", new { }, new { @class = "btn btn-warning" })
                    </div>
                </center>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Imagenes/app.png" alt="" width="300" height="400" class="d-inline-block align-text-top">
            </div>
        </div>
    </div>

</body>